@{
    ViewData["Title"] = "Error 401";
    Layout = "_LayoutLatihan";
}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="mt-5">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="403">403</div>
                    <p class="lead text-gray-800 mb-5">Forbidden</p>
                    <p class="text-gray-500 mb-0">It looks like you are not allowed to access this...</p>
                    <p class="text-gray-500 mb-0">Automatic redirect to page before this in: <span id="time">5</span></p>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="fixed-bottom sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>

<script>
    var seconds = 5;
    window.onload = function () {
        var timer = setInterval(function () {
            if (seconds <= 0) {
                document.getElementById("time").innerHTML = 0;
                clearInterval(timer);
            } else {
                document.getElementById("time").innerHTML = seconds - 1;
            }
            seconds -= 1;
        }, 1000);
        setTimeout(function () {
            window.history.back();
        }, seconds * 1000);
        console.log("back");
    }
</script>

