@import url(https://fonts.googleapis.com/css?family=Roboto);
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/

/**{*/
    /*border: 2px solid #ddd;*/
    /*padding: 5px;
    margin: 5px;
}*/




body{
    font-family: Roboto, sans-serif;
    height: fit-content;
    margin: auto;
}

/*#chartGender {
    width: 100% ;
    margin: auto;
}*/
.pembungkus{
    width: 100%;
    height: fit-content;
    margin-top: 0px;
}

h1#judul{
    color: navy;
    font-size: 40px;
}

.kbutton:hover{
    background-color: cornflowerblue;
    color: white;
    display: inline;
    margin: 5px;
}

.active{
    background-color: cornflowerblue;
    color: white;
}

section#b{
    margin: 0 5px 0 0;
}


#button-ubah{
    margin: 5px;
}

img#pokeImage{
    height:300px;
    display: block;
    margin-bottom: auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.sub-container{
    padding-top:10px;
    padding-bottom:100px;
}

#thPoke{
    background-color: skyblue;
}

#tPoke_wrapper{
    width: 100%;
}

#pokemonCard{
    margin-right: 5px;
    margin-left: 45px;
    width:1000px;
    padding:20px;
}

.modal-body{
    background-color:aliceblue;
}

div.dataTables_wrapper{
    width : 800px;
    margin : 0 auto;
}

#chart-container {
    height: 2000px;
}

