<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/employee.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <section id="a">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Exercises" asp-action="Index">Exercise</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Employees" asp-action="Index">Employee</a>
                </section>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="sub-container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top sticky-footer text-muted fixed-bottom bg-light">
        <div class="container">
            &copy; January 6th, 2022
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="~/js/employee.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
