@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

</body>
</html>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script>

    $.ajax({
        url: "https://localhost:44303/API/Employees/TestCORS",
        success: function (result) {
            console.log(result);
        }
    })
</script>
