@{
    ViewData["Title"] = "Exercise";
    Layout = "_LayoutLatihan";
}


<h1 id="judul">한류: Korean Wave</h1>
<div class="container">
    <section id="a">
        <button onclick="kpopFunction()" id="button-kpop" class="kbutton, active">K-Pop (팝)</button>
        <button onclick="kdramaFunction()" id="button-kdrama" class="kbutton">K-Drama (드라마)</button>
        <button onclick="kfoodFunction()" id="button-kfood" class="kbutton">K-Food (음식)</button>
    </section>
    <section id="b">
        <h2 id="sub-judul">K-팝: Korean Pop</h2>
        <img id="image" src="https://i.pinimg.com/564x/68/48/c2/6848c277b2df9cd2b930bd372b1f78d7.jpg" />
        <p id="p1" class="pr1">
            Korean popular music, or most commonly known as K-pop is mainstream music
            that originated from South Korea. K-pop music in the country could be thought of as similar to
            Taylor Swift in the United States.
        </p>
    </section>
</div>


