@{
    ViewData["Title"] = "Exercise";
    Layout = "_LayoutLatihan";
}

<div class="display">
    <div class="inline">
        <h2>Inline</h2>
        <div class="satu">ONE</div><div class="dua">TWO</div><div class="tiga">THREE</div>
    </div>
    <div class="block">
        <h2>Block</h2>
        <div class="satu">ONE</div>
        <div class="dua">TWO</div>
        <div class="tiga">THREE</div>
    </div>
    <div class="inline-block">
        <h2>Inline-Block</h2>
        <div class="satu">ONE</div><div class="dua">TWO</div><div class="tiga">THREE</div>
    </div>
</div>
<div class="display">
    <div class="block">
        <h2>ABOSULTE</h2>
        <div class="satu">ONE</div>
        <div class="dua absolute">TWO</div>
        <div class="tiga">THREE</div>
    </div>
</div>