@{
    ViewData["Title"] = "Exercise";
    Layout = "_AdminLayout";
}


@*<h1 id="judul">한류: Korean Wave</h1>
    <div class="container">
        <section id="a">
            <button onclick="kpopFunction()" id="button-kpop" class="kbutton, active">K-Pop (팝)</button>
            <button onclick="kdramaFunction()" id="button-kdrama" class="kbutton">K-Drama (드라마)</button>
            <button onclick="kfoodFunction()" id="button-kfood" class="kbutton">K-Food (음식)</button>
        </section>
        <section id="b">
            <h2 id="sub-judul">K-팝: Korean Pop</h2>
            <img id="image" src="https://i.pinimg.com/564x/68/48/c2/6848c277b2df9cd2b930bd372b1f78d7.jpg" />
            <p id="p1" class="pr1">
                Korean popular music, or most commonly known as K-pop is mainstream music
                that originated from South Korea. K-pop music in the country could be thought of as similar to
                Taylor Swift in the United States
            </p>
        </section>
    </div>*@

@* panjang column 12 *@

@*<div class="pembungkus">
        <div class="row">
            <div id="c1" class="col text-justify">
                Tincidunt integer eu augue augue nunc elit dolor,
                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. Tincidunt integer eu augue augue nunc elit dolor,
                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </div>
            <div class="col">
                <div id="r1" class="row text-justify">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </div>
                <div id="r2" class="row text-justify">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </div>
            </div>
        </div>
        <button onclick="colorChange1()" id="button-ubah" class="btn btn-primary">Ubah</button>
    </div>*@


<h1>List Data</h1>
<table id="tPoke" class="table table-hover text-center">
    <thead id="thPoke" class="font-weight-bold">
        <tr>
            <td>No</td>
            <td>Nama</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody class="tablePoke text-capitalize">
        <tr>
            <td>1</td>
            <td>Halo</td>
            <td>
                <button class="btn btn-primary">Detail</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="modalPoke" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered col-md-4 modal-xl" role="document">
        <div id="pokeContent" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="a" class="row">
                    <div class="col-4">
                        <img id="pokeImage" class="bg-transparent" src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_640.png" />
                    </div>
                    <div id="pokemonCard" class="card shadow col-7">
                        <div class="row">
                            <h4 class="pokeName text-capitalize ml-4 font-weight-bold">Pokemon Name</h4>
                            <div id="pokeType" class="col">
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="ml-4">Abilities: </h5>
                            <div id="pokeAbl">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center bg-dark text-light">Stats</div>
                        </div>
                        <div class="stats mt-2 border">
                            <div class="col">

                            </div>
                            <div class="col">
                                <div class="progress mt-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
